body.home {
	padding-top: 2rem;
	font-family: $font;
	background-color: $dark;

}

body {
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p, label, button {
		font-family: $font;
		color: $green;
	}

a {
	color: $green;
	transition: color 0.25s ease-out;
	text-decoration: underline;
	&.no-ul {
		text-decoration: none;
	}
	&:hover, &:focus, &:active {
		color: darken($green, 10%);
	}
}

h1, h2, h3 {
	font-weight: 700;
}

hr {
	border-bottom-color: $green;
}

.large-text-right {
	@include breakpoint(large) {
		text-align: right;
	}
}

.using {
	p {
		margin-bottom: 0;
	}
	a {
		text-decoration: none;
	}
}

.image {
	color: $green;
	line-height: 1;
	margin-bottom: 2rem;
	p {
		line-height: 1;
		margin-bottom: 0;
		display: block;
		width: 100%;
	}
}

.homepage {
	h1 {
		margin-bottom: 0;
	}
	.intro-sub {
		font-size: 18px;
		font-weight: 400;
	}
	.portfolio-link {
		font-size: 18px;
		text-decoration: none;
		position: relative;
		&:after {
			content: '';
			display: inline-block;
			width: 10px;
			height: 10px;
			border-right: 1px solid $green;
			border-top: 1px solid $green;
			transform: rotate(45deg);
			margin-left: 5px;
		}
	}
	.block {
		margin-bottom: 2rem;
	}
	.job {
		margin-bottom: 2rem;
		p {
			margin-bottom: 0;
			font-weight: 100;
		}
		h3 {
			font-weight: 400;
			font-size: 18px;
			margin-bottom: 0;
			line-height: 1;
		}
	}
}

.access-code {
	border: 2px solid $green;
	padding: 2rem;
	text-align: center;
	h1 {
		font-size: 24px;
		line-height: 1;
	}

	input {
		background: transparent;
		border: 2px solid $green;
		box-shadow: 0 0 0;
		padding: 1rem;
		font-size: 24px;
		height: auto;
		letter-spacing: 3px;
		color: $green;
		text-align: center;
		font-weight: 700;
		&:focus {
			border: 2px solid $green;
			background: transparent;
			box-shadow: 0 0 0;
		}
		& + label {
			transform: translateY(-65px);
			font-size: 24px;
			color: $green;
			font-weight: 700;
			letter-spacing: 3px;
			text-transform: uppercase;
			margin-bottom: -24px;
			background: $dark;
			display: inline-block;
			padding: 0 0.75rem;
			line-height: 1;
			transition: transform 0.1s ease-out;
		}
		&:focus, &.has-text {
			& + label {
				transform: translateY(-100px);
			}
		}
	}

	.button {
		background: rgba($green, 0);
		border: 2px solid $green;
		color: $green;
		text-transform: uppercase;
		font-weight: 700;
		transition: background 0.25s ease-out;
		&:hover, &:focus {
			background: rgba($green, 0.25);
		}
	}
}

ul.project-list {
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		display: block;
		border-bottom: 1px solid rgba($green, 0.25);
	}
	&.has-active {
		li {
			button {
				opacity: 0.25;
			}
		}
	}
	button, a {
		display: flex;
		width: 100%;
		padding: 2rem 0.5rem;
		background: $dark;
		transition: background 0.25s ease-out, opacity 0.25s ease-out;
		cursor: pointer;
		text-align: left;
		font-size: 24px;
		position: relative;
		text-decoration: none;
		line-height: 1;
		flex-wrap: wrap;
		&:after {
			// content: "More Info";
			// display: inline-block;
			// right: 0;
			// margin-left: 10px;
			// font-weight: 100;
			// opacity: 0;
			// transition: opacity 0.25s ease-out;
		}
		&:hover, &:focus, &.is-active {
			outline: 0;
			background: darken($dark, 5%);
			color: $green;
		}
		.number {
			display: inline-block;
			color: rgba($green, 0.25);
			font-weight: 100;
			margin-right: 2rem;
			flex-shrink: 1;
			flex-grow: 0;
			font-size: 20px;
			@media only screen and (min-width: 1300px) {
				font-size: 24px;
			}
		}
		.title {
			font-weight: 700;
			flex-grow: 1;
			flex-shrink: 1;
			font-size: 20px;
			@media only screen and (min-width: 1300px) {
				font-size: 24px;
			}
		}
		.mobile-details {
			display: block;
			flex-grow: 1;
			flex-shrink: 0;
			width: 100%;
			font-weight: 100;
			font-size: 18px;
			margin-top: 1rem;
			@include breakpoint(large) {
				display: none;
			}
		}
		.blue-ion {
			position: absolute;
			top: -8px;
			font-weight: 100;
			font-size: 18px;
			right: 0.5rem;
			opacity: 0;
			transform: translateY(-10px);
			transition: opacity 0.25s ease-out, transform 0.25s ease-out;
			display: none;
			@include breakpoint(medium) {
				display: block;
			}
		}
		&:hover, &:focus, &.is-active {
			opacity: 1;
			&:after {
				opacity: 1;
			}
			.blue-ion {
				opacity: 1;
				transform: translateY(0);
			}
		}
	}
	li > button.is-active {
		opacity: 1;
	}
}

.project-display-area {
	position: relative;
	padding-bottom: 95%;
	@include breakpoint(medium) {
		padding-bottom: 41%;
	}
	article.project {
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		display: none;
		// opacity: 0;
		// transform: translateY(-10px);
		transition: transform 0.25s ease-out, opacity 0.25s ease-out;
		&.visible {
			display: block;
		}
		&.active {

		}
		.details {
			h2 {
				font-size: 20px;
			}
			margin-top: 3rem;
			opacity: 0;
			transform: translateX(-20px);
		}
		.preview-button-grid {
			margin-top: 3rem;
		}
	}
	pre {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		color: $green;
		line-height: 1.3;
		overflow: visible;
		z-index: -1;
	}
	.preview-image-holder {
		opacity: 0;
		// transform: translateY(-10px);
		// padding: 9% 11% 25% 6%;
	}

	.monitor-placeholder {
		position: absolute;
		top: 37%;
		height: 40%;
		transform: translate(-50%, -50%);
		@include breakpoint(medium) {
			top: 80%;
			height: 100%;
		}

		@include breakpoint(large) {
			top: 90px;
			transform: translateX(-50%);
		}
		left: 50%;

		width: 90%;
		svg {
			width: 100%;
			height: 100%;
			@include breakpoint(large) {
				// min-height: 380px;
			}
		}
	}
}

header.single {
	h1 {
		margin-top: 3rem;
		font-size: 16px;
		@include breakpoint(medium) {
			font-size: 18px;
		}
		@include breakpoint(large) {
			font-size: 28px;
			margin-top: 0;
		}
		small {
			display: block;
			font-size: 18px;
			font-weight: 100;
			color: $green;
			margin-bottom: 1rem;
			@include breakpoint(large) {
				margin-bottom: 0;
			}
		}
	}
}



.preview-buttons {
	display: inline-block;
	padding: 1rem 1.5rem;
	text-decoration: none;
	background: rgba($green, 0);
	transition: background 0.25s ease-out;
	transform: translateX(-1.5rem);
	text-decoration: none;
	svg {
		max-width: 30px;
		height: 25px;
		vertical-align: middle;
		display: inline-block;
		margin-right: 10px;
	}
	&:hover, &:focus, &:active {
		color: $green;
		background: rgba($green, 0.1);
	}
}

span.tech, span.role {

	svg {
		vertical-align: middle;
		display: inline-block;
		margin-right: 10px;
		width: 30px;
		height: 30px;
	}
}

.project-details {
	margin-left: 1.5rem;
	span.tech, span.role {
		margin-bottom: 2rem;
		display: block;
	}
	.preview-buttons {
		margin-top: -1rem;
	}
}

.secondary-project-details {
	margin-top: 2rem;
	padding-left: 1.5rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-top: 1px solid $green;
	border-bottom: 1px solid $green;
	opacity: 0;
	display: none;
	transition: opacity 0.25s ease-out;
	span.tech, span.role {
		margin-bottom: 2rem;
		display: block;
	}
	.preview-buttons {
		margin-top: -1rem;
	}
	&.visible {
		display: block;
	}
	&.fade-in {
		opacity: 1;
	}
	@include breakpoint(medium down) {
		display: none;
		&.visible {
			display: none;
		}
	}
}

main.single {
	h2, h3 {
		font-size: 24px;
	}
	.project-display-area {
		padding-bottom: 0;
		margin-bottom: 2rem;
		.preview-image-holder {
			opacity: 1;
			transform: translateY(0);
		}
	}

	.details {
		margin-top: 3rem;
		margin-left: 2rem;
	}

	.sections {
		margin-bottom: 2rem;
		img {
			margin-top: 2rem;
			border: 6px solid $dark;
		}
	}
}

.blink {
	animation: blink 1s ease-out infinite;
}

@keyframes blink {
	0% {
		opacity: 1;
	}

	40% {
		opacity: 0;
	}
	60% {
		opacity: 1;
	}

	100% {
		opacity: 1;
	}
}


/**
 * Isometric Image Layouts
 */

.image-layout-scene {
		position: relative;
	    backface-visibility: hidden;
	    transform-style: preserve-3d;
	    display: flex;
	&--1 {
		transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg);
		.image-layout-scene__image-3 {
			img {
				animation-name: flipUp;
				animation-duration: 0.25s;
				animation-timing-function: ease-out;
				animation-delay: 1s;
				animation-iteration-count: 1;
				animation-direction: forwards;
				animation-fill-mode: forwards;
			}
		}
	}
	&--2 {
		transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg);
		.image-layout-scene__image-2 {
			img {
				animation-name: flipUp;
				animation-duration: 0.25s;
				animation-timing-function: ease-out;
				animation-delay: 1s;
				animation-iteration-count: 1;
				animation-direction: forwards;
				animation-fill-mode: forwards;
			}
		}

	}
	&--3 {
		transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg);
		margin-top: 150px;
		margin-bottom: 130px;
		.image-layout-scene__image-4 {
			animation-name: expandUp;
			animation-duration: 0.25s;
			animation-timing-function: ease-out;
			animation-delay: 1s;
			animation-iteration-count: 1;
			animation-direction: forwards;
			animation-fill-mode: forwards;
		}
		.image-layout-scene__image-6 {
			animation-name: expandDown;
			animation-duration: 0.25s;
			animation-timing-function: ease-out;
			animation-delay: 1s;
			animation-iteration-count: 1;
			animation-direction: forwards;
			animation-fill-mode: forwards;
		}
	}
	&--4 {
		transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg) translateZ(-120px) translateX(160px);
	}
	&--5 {
		transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg);
	}
	&__group {
		display: flex;
		&--1 {
			flex-direction: column;
			align-items: flex-end;
		}
		&--3 {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
		}
	}
	&__image-1, &__image-2, &__image-3, &__image-8, &__image-7, &__image-5 {
		position: relative;
		backface-visibility: hidden;
		transform-style: preserve-3d;
		margin: 10px;
		img {
			// transform: translate3d(0, 0, 50px) rotateX(-5deg);
			transform: translate3d(0, 0, 20px);
			transform-origin: center bottom;
			position: relative;
			max-width: 100%;
		    height: auto;
		    display: block;
		}
	}
	&__image-3 {

	}
	&__image-4, &__image-6,  &__image-9 {
		position: absolute;
		top: 0;
		left: 0;
		img {
			position: relative;
			z-index: 2;
		}
	}
	&__image-4 {
		transform: translate3d(50px, 0, 20px);
	}
	&__image-5 {
		transform: translate3d(50px, 0, 0px);
	}
	&__image-6 {
		transform: translate3d(50px, 0, -20px);
	}
	&__image-7 {
		// transform: translate3d(150px, 100px, 100px) rotateX(-75deg);
	}
	&__image-8 {
		transform: translate3d(-100%, 0, 100px);
	}
	&__image-9 {
		transform: translate3d(-150px, -100px, 100px) rotateX(-75deg);
	}
	&__image-10, &__image-11, &__image-12, &__image-13 {
		position: relative;
		margin: 10px;
		img {
			position: relative;
			z-index: 2;
			transform: translate3d(0, 0, 20px);
			transform-origin: center bottom;
			max-width: 100%;
		    height: auto;
		    display: block;
		}
	}
	&__image-10 {
		transform: translate3d(80px, 0px, 0px);
	}
	&__image-11 {
		transform: translate3d(80px, 50px, 60px);
		img {
			animation-name: flipUp;
			animation-duration: 0.25s;
			animation-timing-function: ease-out;
			animation-delay: 1s;
			animation-iteration-count: 1;
			animation-direction: forwards;
			animation-fill-mode: forwards;
		}
	}
	&__image-12 {
		transform: translate3d(-110px, 0px, 0px);
	}
	&__image-13 {
		transform: translate3d(-100px, -12px, 0px);
	}
	.below {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: block;
	    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
	    opacity: .9;
	    background-color: rgba(0, 0, 0, 0.1);
	    box-shadow: -2px -2px 5px 2px rgba(0, 0, 0, 0.1);
	}
	.below-2 {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: block;
	    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
	    opacity: .9;
	    background-color: rgba(0, 0, 0, 0.1);
	    box-shadow: -10px 10px 25px 20px rgba(0, 0, 0, 0.1);
		z-index: 1;
	}
	.below-3 {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: block;
	    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
	    opacity: .9;
	    background-color: rgba(0, 0, 0, 0.1);
	    box-shadow: 15px 5px 15px 10px rgba(0, 0, 0, 0.1);
		z-index: 1;
	}
}

@keyframes flipUp {
	0% {
		transform: translate3d(0, 0, 20px);
	}
	100% {
		transform: translate3d(0, 0, 50px) rotateX(-5deg);
	}
}

@keyframes flipUp2 {
	0% {
		transform: translate3d(80px, 0px, 80px);
	}
	100% {
		transform: translate3d(80px, 0px, 80px) rotateX(-15deg);
	}
}

@keyframes expandUp {
	0% {
		transform: translate3d(50px, 0, 20px);
	}
	100% {
		transform: translate3d(100px, 0, 200px);
	}
}

@keyframes expandDown {
	0% {
		transform: translate3d(50px, 0, -20px);
	}
	100% {
		transform: translate3d(0, 0, -200px);
	}
}
